<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <title>Create Product</title>
</head>

<body>
<div layout:fragment="content">

  <h2>Create Product</h2>

  <form th:action="@{/products/create}"
        th:object="${product}"
        method="post"
        enctype="multipart/form-data">

    <!-- NAME -->
    <div class="mb-3">
      <label>Name</label>
      <input class="form-control" th:field="*{name}">
      <div class="text-danger" th:errors="*{name}"></div>
    </div>

    <!-- BUY PRICE -->
    <div class="mb-3">
      <label>Buy Price</label>
      <input type="number" class="form-control" th:field="*{buyPrice}">
      <div class="text-danger" th:errors="*{buyPrice}"></div>
    </div>

    <!-- SELL PRICE -->
    <div class="mb-3">
      <label>Sell Price</label>
      <input type="number" class="form-control" th:field="*{sellPrice}">
      <div class="text-danger" th:errors="*{sellPrice}"></div>
    </div>

    <!-- OBJECT LEVEL ERROR (Buy > Sell) -->
    <div class="text-danger mb-2"></div>

    <!-- CATEGORY (QUAN TRỌNG NHẤT) -->
    <div class="mb-3">
      <label>Category</label>
      <select class="form-select" name="categoryId">
        <option value="">-- Select Category --</option>
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}">
        </option>
      </select>
      <div class="text-danger" th:text="${categoryError}"></div>

    </div>

    <!-- IMAGE -->
    <div class="mb-3">
      <label>Image</label>
      <input type="file" class="form-control" name="imageProduct">
    </div>

    <button class="btn btn-success">Save</button>
    <a th:href="@{/products}" class="btn btn-secondary">Back</a>

  </form>

</div>
</body>
</html>
